{% extends 'base.html' %}

{% block content %}

<div class="project-form">

    <form action="/exportFile/{{data.project_id}}/{{data.project_name}}" method="POST" enctype="multipart/form-data">

        <div class="container col-lg-6 col-sm-6">
            {% if msg %}
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="alert alert-danger">
                    <strong> Alert! </strong>{{msg}}.
                </div>
            </div>
            {% endif %}

            <h3 class="header">Export File</h3>

            <!-- File Resources -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="uploadFile" id="uploadFile">
                <label for="uploadFile" class="resource-file-label mb-3"><b> Export as a file: </b></label>
                <p>Choose a file type</p>
                <select class="form-control mb-3" name="fileType" id="fileType">
                    <option value=""> Select any one </option>
                    <option value="csv"> csv </option>
                    <option value="tsv"> tsv </option>
                    <option value="json"> json </option>
<!--                    <option value="xlsx"> xlsx </option>-->
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Download</button>

        </div>
    </form>

    <form method="POST" id="export_form" enctype="multipart/form-data">
        <div class="container col-lg-6 col-sm-6">

            <!-- Cloud Resources -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="uploadCloud" id="uploadCloud">
                <label for="uploadCloud" class="resource-file-label mb-3"><b> Export to cloud: </b></label>
                <select class="form-control mb-3" name="cloudType" id="cloudType">
                    <option value=""> Select any one </option>
                    <option value="awsS3bucket"> AWS S3 Bucket </option>
                    <option value="gcpStorage"> GCP Blob Storage </option>
                    <option value="azureStorage"> Azure Data Storage </option>
                </select>
            </div>

            <div id="awsS3bucket" class="upload-other-resource">
                <label for="region_name" class="col-form-label"><b> Region Name </b></label>
                <input type="text" class="form-control awsS3bucket" id="region_name" name="region_name" placeholder="" required>

                <label for="aws_access_key_id" class="col-form-label"><b> AWS Access Key Id </b></label>
                <input type="text" class="form-control awsS3bucket" id="aws_access_key_id" name="aws_access_key_id" placeholder="" required>

                <label for="aws_secret_access_key" class="col-form-label"><b> AWS Secret Access Key </b></label>
                <input type="text" class="form-control awsS3bucket" id="aws_secret_access_key" name="aws_secret_access_key" placeholder="" required>

                <label for="bucket_name" class="col-form-label"><b> Bucket Name </b></label>
                <input type="text" class="form-control awsS3bucket" id="aws_bucket_name" name="aws_bucket_name" placeholder="" required>

                <label for="file_type" class="col-form-label"><b> File Type </b></label>
                <select class="form-control awsS3bucket" name="fileTypeAws" id="fileTypeAws">
                    <option value=""> Select any one </option>
                    <option value="csv"> csv </option>
                    <option value="tsv"> tsv </option>
                    <option value="json"> json </option>
                    <option value="xlsx"> xlsx </option>
                </select>

            </div>

            <div id="gcpStorage" class="upload-other-resource">
                <label for="GCP_credentials_file" class="col-form-label"><b> GCP Credentials file </b></label>
                <input type="file" class="form-control gcpStorage" id="GCP_credentials_file" name="GCP_credentials_file">
                <p>allowed file *.json</p>

                <label for="bucket_name" class="col-form-label"><b> Bucket Name </b></label>
                <input type="text" class="form-control gcpStorage" id="gcp_bucket_name" name="gcp_bucket_name" placeholder="" required>

                <label for="file_type" class="col-form-label"><b> File Type </b></label>
                <select class="form-control gcpStorage" name="fileTypeGcp" id="fileTypeGcp">
                    <option value=""> Select any one </option>
                    <option value="csv"> csv </option>
                    <option value="tsv"> tsv </option>
                    <option value="json"> json </option>
                    <option value="xlsx"> xlsx </option>
                </select>

            </div>

            <div id="azureStorage" class="upload-other-resource">
                <label for="azure_connection_string" class="col-form-label"><b> Azure Connection String </b></label>
                <input type="text" class="form-control azureStorage" id="azure_connection_string" name="azure_connection_string" placeholder="" required>

                <label for="container_name" class="col-form-label"><b> Container Name </b></label>
                <input type="text" class="form-control azureStorage" id="container_name" name="container_name" placeholder="" required>

                <label for="file_type" class="col-form-label"><b> File Type </b></label>
                <select class="form-control azureStorage" name="fileTypeAzure" id="fileTypeAzure">
                    <option value=""> Select any one </option>
                    <option value="csv"> csv </option>
                    <option value="tsv"> tsv </option>
                    <option value="json"> json </option>
                    <option value="xlsx"> xlsx </option>
                </select>

            </div>


            <!-- Database Resources -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="uploadDatabase" id="uploadDatabase">
                <label for="uploadDatabase" class="resource-file-label mb-3"><b> Export to database: </b></label>
                <select class="form-control mb-3" name="databaseType" id="databaseType">
                    <option value=""> Select any one </option>
                    <option value="mySql"> MySql </option>
                    <option value="cassandra"> Cassandra </option>
                    <option value="mongodb"> Mongo DB </option>
                </select>
            </div>

            <div id="cassandra" class="upload-other-resource">
                <label for="secure_connect_bundle" class="col-form-label"><b> Secure Connect Bundle </b></label>
                <input type="file" accept=".zip,.rar,.7zip" class="form-control cassandra" id="secure_connect_bundle" name="secure_connect_bundle">
                <p>allowed file *.zip</p>

                <label for="client_id" class="col-form-label"><b> Client Id </b></label>
                <input type="text" class="form-control cassandra" id="client_id" name="client_id" placeholder="" required>

                <label for="client_secret" class="col-form-label"><b> Client Secret </b></b></label>
                <input type="text" class="form-control cassandra" id="client_secret" name="client_secret" placeholder="" required>

                <label for="keyspace" class="col-form-label"><b> Keyspace </b></b></label>
                <input type="text" class="form-control cassandra" id="keyspace" name="keyspace" placeholder="" required>

            </div>

            <div id="mySql" class="upload-other-resource">
                <label for="host" class="col-form-label"><b> Host </b></label>
                <input type="text" class="form-control mySql" id="host" name="host" placeholder="" required>

                <label for="port" class="col-form-label"><b> Port </b></label>
                <input type="text" class="form-control mySql" id="port" name="port" placeholder="" required>

                <label for="user" class="col-form-label"><b> User </b></label>
                <input type="text" class="form-control mySql" id="user" name="user" placeholder="" required>

                <label for="password" class="col-form-label"><b> Password </b></label>
                <input type="password" class="form-control mySql" id="password" name="password" placeholder="" required>

                <label for="database" class="col-form-label"><b> Database </b></label>
                <input type="text" class="form-control mySql" id="database" name="database" placeholder="" required>

            </div>

            <div id="mongodb" class="upload-other-resource">
                <label for="mongo_db_url" class="col-form-label"><b> Mongo DB URL </b></label>
                <input type="text" class="form-control mongodb" id="mongo_db_url" name="mongo_db_url" placeholder="" required>

                <label for="mongo_database" class="col-form-label"><b> Database </b></label>
                <input type="text" class="form-control mongodb" id="mongo_database" name="mongo_database" placeholder="" required>

            </div>

            <button type="submit" class="btn btn-primary" id="export">Export</button>
            <a href="/">
                <button type="button" class="btn btn-danger back">Back</button>
            </a>

        </div>

    </form>
</div>
<script>
    $(document).ready(function(){
                //Make script DOM ready

            $("#export").on('click',()=>{
                $("#loading").css('display', 'block');
                })
      
      function hideUploadOtherResource() {
        $('.upload-other-resource').each(function(i, obj) {
          $( '#' + $(this).attr('id') ).hide();
        });
      }
      hideUploadOtherResource()

      var selectedDatabaseType = "" 
      $('#databaseType').change(function(e) {   //jQuery Change Function
        selectedDatabaseType = $(this).val();                  //Get value from select element
        $('.upload-other-resource').each(function(i, obj) {
          if (selectedDatabaseType === $(this).attr('id') ) {
            $('#' + selectedDatabaseType).show();
          } else {
            $( '#' + $(this).attr('id') ).hide();
          }
        });
      });

      var selectedCloudType = "" 
      $('#cloudType').change(function(e) {   
        selectedCloudType = $(this).val();                  
        $('.upload-other-resource').each(function(i, obj) {
          if (selectedCloudType === $(this).attr('id') ) {
            $('#' + selectedCloudType).show();
          } else {
            $( '#' + $(this).attr('id') ).hide();
          }
        });
      });

      $('input:radio[id=uploadFile]').prop('checked', true);
      $("label[for='uploadCloud']").addClass('disabled-label');
      $("label[for='uploadDatabase']").addClass('disabled-label');
      $('#cloudType').addClass('disabled-input');
      $('#cloudType').prop('disabled', true);
      $('#databaseType').addClass('disabled-input');
      $('#databaseType').prop('disabled', true);

      var selectedRadio = $('input:radio[id=uploadFile]')[0].id

      $("input:radio[name=uploadFile]").click(function(e) {
        selectedRadio = $(this)[0].id

        hideUploadOtherResource()

        $("label[for='uploadFile']").removeClass('disabled-label');
        $('#fileType').removeClass('disabled-input');
        $('#fileType').prop('disabled', false);

        $('input:radio[id=uploadCloud]').prop('checked', false);
        $("label[for='uploadCloud']").addClass('disabled-label');
        $('#cloudType').addClass('disabled-input');
        $('#cloudType').prop('disabled', true);

        $('input:radio[id=uploadDatabase]').prop('checked', false);
        $("label[for='uploadDatabase']").addClass('disabled-label');
        $('#databaseType').addClass('disabled-input');
        $('#databaseType').prop('disabled', true);
      })

      $("input:radio[name=uploadCloud]").click(function(e) {
        selectedRadio = $(this)[0].id

        hideUploadOtherResource()

        $("label[for='uploadCloud']").removeClass('disabled-label');
        $('#cloudType').removeClass('disabled-input');
        $('#cloudType').prop('disabled', false);

        $('input:radio[id=uploadFile]').prop('checked', false);
        $("label[for='uploadFile']").addClass('disabled-label');
        $('#fileType').addClass('disabled-input');
        $('#fileType').prop('disabled', true);

        $('input:radio[id=uploadDatabase]').prop('checked', false);
        $("label[for='uploadDatabase']").addClass('disabled-label');
        $('#databaseType').addClass('disabled-input');
        $('#databaseType').prop('disabled', true);
      })

      $("input:radio[name=uploadDatabase]").click(function(e) {
        selectedRadio = $(this)[0].id

        hideUploadOtherResource()

        $("label[for='uploadDatabase']").removeClass('disabled-label');
        $('#databaseType').removeClass('disabled-input');
        $('#databaseType').prop('disabled', false);

        $('input:radio[id=uploadFile]').prop('checked', false);
        $("label[for='uploadFile']").addClass('disabled-label');
        $('#fileType').addClass('disabled-input');
        $('#fileType').prop('disabled', true);

        $('input:radio[id=uploadCloud]').prop('checked', false);
        $("label[for='uploadCloud']").addClass('disabled-label');
        $('#cloudType').addClass('disabled-input');
        $('#cloudType').prop('disabled', true);
      })

      var tabularData = false
      $('input[name="data_in_tabular"]').click(function(){
        if($(this).prop("checked") == true){
          tabularData = true
          console.log("Checkbox is checked.");
        }
        else if($(this).prop("checked") == false){
          tabularData = false
          console.log("Checkbox is unchecked.");
        }
      });

      $("#export").click(function (event) {
          //stop submit the form, we will post it manually.
          event.preventDefault();

          // Get form
          var form = $('#export_form')[0];

        //   $('.upload-other-resource').each(function(i, obj) {
        //     var id = $(this).attr('id')
        //     if ($(this).attr('id') !== selectedCloudType || $(this).attr('id') !== selectedDatabaseType) {
        //       $(form).each(function(){
        //         $(this).find('.' + id).remove()
        //       });
        //     }
        //   });
         
          // FormData object 
          var data = new FormData(form);
    
          // If you want to add an extra field for the FormData
          data.append("source_type", selectedRadio);

          if (selectedCloudType) {
            data.append("resource_type", selectedCloudType);
          }
          if (selectedDatabaseType) {
            data.append("resource_type", selectedDatabaseType);
            if (selectedDatabaseType === "cassandra" ) {
              data.append("data_in_tabular", tabularData);
            }
          }

          data.delete("data_in_tabular");

          // var object = {};
          // data.forEach((value, key) => object[key] = value);
          // console.log(JSON.stringify(object))
    
          $.ajax({
              type: "POST",
              enctype: 'multipart/form-data',
              url: "/exportProject/{{data.project_name}}/{{data.project_id}}",
              data: data,
              processData: false,
              contentType: false,
              cache: false,
              timeout: 800000,
              success: function(response) {
                if(response === '/') {
                  window.location.href = response
                }
                else {
                  document.write(response)
                  document.close();
                  window.onload = (event) => {
                    hideUploadOtherResource()
                  };
                }
              },
              error: function (e) {
                console.log("ERROR : ", e);
              }
          });
      });

    });
</script>

{% endblock %}