{% extends 'project_base.html' %}
{% block content %}
<div class="table2">
    <div class="jumbotron jumbtron">
    <h1 class="text-center">Model Training</h1>
    <p class="text-center" >Machine Learning is all about developing computer programs that can receive various types of data as input (images, text, signals, numeric tables, etc), and then recognize patterns in the data and 
        make insights and predictions based on those patterns. One of the most important features of ML is “self learning”. That said, it is important to note that while the computers can do a lot independently, there’s still a 
        long way to go before they can take over the world.</p>
        </br>
        <div class="eda-image">
            <img align="right" height="400px" width = "500px" src="/static/css/data_engineering_img1.png">
        </div>
        <h3>SECTIONS</h3>
        <p align="left">
        <p align="left">
          <li>Automated Training</li>
          <li>Customized Training</li>
        </ul>
        </br>
        <h3>INFO!</h3>
        </br>
        <p><a href="https://en.wikipedia.org/wiki/Machine_learning"> For More Information Visit !</a> </p>

     </div>
</div>
{% endblock %}
