{% extends 'project_base.html' %}
{% block content %}
<div class="table2">
    <div class="jumbotron jumbtron">
        <h1 class="text-center">Exploratory Data Analysis</h1>
    <p class="text-center">Exploratory Data Analysis is a process of examining or understanding the data and extracting insights or main characteristics of the data.
        EDA is generally classified into two methods, i.e. graphical analysis and non-graphical analysis.
        EDA is very essential because it is a good practice to first understand the problem statement and the various relationships between the data features before getting your hands dirty.</p>
        </br>
        <div class="eda-image">
            <img align="right" height="300px" src="/static/css/Exploratory-Data-Analysis-EDA-steps.png">
        </div>
        <h3>SECTIONS</h3>
        <p align="left">
        <ul>
            <li>Data Summary</li>
              <li>Show DataSet</li>
            <li>Missing Values Report</li>
              <li>Missing Values</li>
             <li>Correlation Report</li>
              <li>Outlier Report</li>
                <li> Plots </li>
             <li>Profiler Report</li>
        </ul>

        </br>
        <h3>INFO!</h3>
        </br>
        <p><a href="https://en.wikipedia.org/wiki/Exploratory_data_analysis"> For More Information Visit !</a> </p>
    </div>
</div>
{% endblock %}
