{% extends 'project_base.html' %}
{% block content %}
<div class="table2">
    <div class="jumbotron jumbtron">
        <h1 class="text-center">Data Preprocessing Help</h1>
    <p class="text-center">Data preprocessing is the process of transforming raw data into an understandable format.
        It is also an important step in data mining as we cannot work with raw data.
        The quality of the data should be checked before applying machine learning or data mining algorithms.</p>
        </br>
        <div class="eda-image">
            <img align="right" height="300px" src="/static/css/458978_preview.png">
        </div>
        <h3>SECTIONS</h3>
        <p align="left">
        <ul>
            <li>Delete Columns</li>
              <li>Handle Outliers</li>
            <li>Handle Duplicate Data</li>
              <li>Handle Missing Data</li>
             <li>Handle Imbalanced Data</li>
        </ul>

        </br>
        <h3>INFO!</h3>
        </br>
        <p><a href="https://en.wikipedia.org/wiki/Data_pre-processing"> For More Information Visit !</a> </p>
    </div>
</div>
{% endblock %}
