{% extends 'project_base.html' %}
{% block content %}
<div class="table2">
    <div class="jumbotron jumbtron">
    <h1 class="text-center">Process Scheduler </h1>
        <p>Process scheduling is an essential part of a Multiprogramming operating systems. Such operating systems allow more than one process to be loaded into the executable memory at a time and the loaded process shares the CPU using time multiplexing.</p>
        </br>
        <div class="eda-image">
            <img align="center" style= "margin-left: 201px" height="300px" src="/static/css/scheduler.jpeg">
        </div>

     </div>
</div>
{% endblock %}
