{% extends 'project_base.html' %}
{% block content %}

<div class="table2">
    {% if status=="success" %}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Dimension Reduction Performed Successfully.
      </div>
    {% endif %}
    {% if status=="error" %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> {{msg}}
      </div>
    {% endif %}
    <div class="jumbotron text-center">
        <h1>Dimension Reduction</h1>
        <p>Dimensionality reduction refers to techniques for reducing the number of input variables in 
            training data. When dealing with high dimensional data, it is often useful to reduce the 
            dimensionality by projecting the data to a lower dimensional subspace which captures the essence of the data</p>

        <div class="alert alert-success">
            <strong>Note!</strong> You can perform Dimension Reduction only Once.
        </div>
    </div>
    <h4 class="result">Current Data</h4>
    {{data | safe}}
    {% if not not_allowed %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
        <button type="button" class="btn btn-warning" id="check_pca">Check Dimension Reduction Result</button>
    </div>
    {% endif %}

    <form style="margin-top: 50px;" action="/fe/{{action}}" method="post" id="form">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                <div class="form-group">
                    <label for="exampleFormControlSelect1"><strong>Explained variance Ration(Scree plot)</strong></label>
                    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                <div class="form-group">
                        <label for="Random_State">Select no of components</label>
                        <input type="range" min="1" max="1" value="1" class="slider" id="range" name="range">
                        <p>No of Components:  {{length}} <span id="demo"></span></p>
                </div>
            </div>
        </div>
        <h4 class="result">PCA Result</h4>
            <div class="table"></div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
                <button type="button" class="btn btn-default" data-target="#exampleModal" data-toggle="modal">Submit Selected Components</button>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure??</h5>
                </div>
                <div class="modal-body">
                    <p>Please make sure that you selected correct no of components, because you can't revert this operation
                    </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" id="submit" class="btn btn-danger">Save Result</button>
                </div>
              </div>
            </div>
          </div>
        </form>
</div>
<script>

    $(document).ready(function() {

        $("#check_pca").on('click',()=>{
                  $("#loading").css('display', 'block');
            })

            $("#submit").on('click',()=>{
                  $("#loading").css('display', 'block');
            })

    $('.dataframe').DataTable();
    $("#form").hide()
    var slider = document.getElementById("range");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;
    
    slider.oninput = function() {
      output.innerHTML = this.value;
    }
    $("#check_pca").on('click',()=>{
        $.ajax({
                type: "POST",
                url: `${window.location.origin}/api/pca`,
                dataType:'json',
                contentType:'application/json',
                cache: false
        }).done(function(data) {
            $("#loading").css('display', 'none');
           if(data.success){
            $("#form").show()
            var after_graph  = data?.graph
            Plotly.newPlot('myDiv',  JSON.parse(after_graph));
            $(".table").append(data.data)
            $('.dataframe').DataTable();
            $("#range").attr('max',data.no_pca)
           }
     
        })
        .fail(function(err) {
            // do stuff here
            $("#loading").css('display', 'none');
        })
        .always(function(info) {
            // do stuff here
        });
    })
});

    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
//     var graphs = {{graph | safe}};
//    Plotly.newPlot('myDiv',  graphs);
</script>
{% endblock %}
