{% extends 'project_base.html' %}
{% block content %}
<div class="table2">
    <div class="jumbotron jumbtron">
    <h1 class="text-center">Feature Engineering</h1>
    <p class="text-center" >Data Science is not a field where theoretical understanding helps you to start a carrier.
        It totally depends on the projects you do and the practice you have done that determines your probability of success.
        Feature engineering is a very important aspect of machine learning and data science and should never be ignored.
        The main goal of Feature engineering is to get the best results from the algorithms.</p>
        <p>We have provided following functionalities for feature engineering.</p>
        </br>
        <div class="eda-image">
            <img align="right" height="250px" src="/static/css/data-analytics.png">
        </div>
        <h3>SECTIONS</h3>
        <p align="left">
        <p align="left">
          <li>Handle DataType</li>
          <li>Encodings</li>
        <li>Change Column Name</li>
          <li>Scaling</li>
          <li>Feature Selection</li>
          <li>Dimension Reduction</li>
        </ul>

        </br>
        <h3>INFO!</h3>
        </br>
        <p><a href="https://en.wikipedia.org/wiki/Feature_engineering"> For More Information Visit !</a> </p>

     </div>
</div>
{% endblock %}
